
<!doctype html>

<html lang="en" class="no-js">

<head>

    <!-- meta data -->

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name=viewport content="width=device-width, initial-scale=1">

    <!-- title and favicon -->

    <title>Green X Recycling</title>
    <link rel="icon" href="/img/icon/fav_icon.gif">


    <!--necessary stylesheets -->

    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="/css/font-awesome.min.css">
    <link type="text/css" rel="stylesheet" href="/css/ionicons.min.css">
    <link type="text/css" rel="stylesheet" href="/css/popup.css">
    <link type="text/css" rel="stylesheet" href="/css/owl.carousel.css">
    <link type="text/css" rel="stylesheet" href="/css/owl.theme.css">
    <link type="text/css" rel="stylesheet" href="/css/style.css">
</head>


<body>
    <div id="preloader">
        <div class="loader">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
    <div class="home-page">
        <div class="introduction">
            <div class="intro-content">
                <h2>Green <span id="greenx">X</span> Recycling</h2>
                <p class="slogan-text text-capitalize">an investment to good health</p>
            </div>
        </div>

        <div class="menu">
            <div class="profile-btn">
                <img alt="" src="/img/about.png" style="width:100%; height:100%;">
                <div class="mask">
                </div>
                <div class="heading">
                    <i class="ion-ios-people-outline hidden-xs"></i>
                    <h2>Available Jobs</h2>
                </div>
            </div>

            <div class="portfolio-btn">
                <img alt="" src="/img/people1.jpg" style="width:100%; height:200%;">
                <div class="mask">
                </div>
                <div class="heading">
                    <i class="ion-ios-briefcase-outline hidden-xs"></i>
                    <h2>Doing</h2>
                </div>
            </div>

            <div class="service-btn">
                <img alt="" src="/img/service.jpg">
                <div class="mask">
                </div>
                <div class="heading">
                    <i class="ion-ios-lightbulb-outline hidden-xs"></i>
                    <h2>Done</h2>
                </div>
            </div>

            <div class="contact-btn">
                <img alt="" src="/img/contact.jpg">
                <div class="mask">
                </div>
                <div class="heading">
                    <i class="ion-ios-chatboxes-outline hidden-xs"></i>
                    <h2>Contact</h2>
                </div>
            </div>
        </div>
    </div>

    <div class="close-btn"></div>

    <script type="text/javascript" src="/js/jquery-2.1.3.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/modernizr.js"></script>
    <script type="text/javascript" src="/js/jquery.easing.min.js"></script>
    <script type="text/javascript" src="/js/jquery.mixitup.min.js"></script>
    <script type="text/javascript" src="/js/jquery.popup.min.js"></script>
    <script type="text/javascript" src="/js/owl.carousel.min.js"></script>
    <!-- <script type="text/javascript" src="/js/js"></script> -->
    <script type="text/javascript" src="/js/contact.js"></script>
    <script type="text/javascript" src="/js/script.js"></script>

</body>
</html>
